<mat-toolbar *ngIf="accountService.isLoggedIn" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="toolbar-left">
    <button *ngIf="mobileQuery.matches" mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">

  </div>

  <div class="toolbar-right" fxLayout="row" fxLayoutAlign="end center">

    <div>
      {{accountService.userAccount?.firstName}}
      {{accountService.userAccount?.lastName}}
    </div>
    &nbsp;
    <div class="app-bar-balance">
      Balance: {{accountService.userAccount?.balance| currency}}
    </div>
    <button *ngIf="accountService.isLoggedIn" mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>


</mat-toolbar>
