<app-nav-bar (toggle)="snav.toggle()" (logout)="logout()"></app-nav-bar>

<mat-sidenav-container>
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [opened]="!mobileQuery.matches"
               [fixedInViewport]="mobileQuery.matches">
    <mat-list>


      <a mat-list-item class="user-profile-item">
        <button mat-icon-button>
          <mat-icon style="transform: scale(1.6);">account_circle</mat-icon>
        </button>
        <span>
              {{accountService.userAccount?.firstName}}
              {{accountService.userAccount?.lastName}}
        </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item [routerLink]='["/transactions"]'>
        <button mat-icon-button>
          <mat-icon>list</mat-icon>
        </button>
        <span> Transactions</span>
      </a>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="container full-height">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>

