@media (min-width: 600px) {
  mat-sidenav mat-list a span {
    display: none;
  }

  mat-sidenav{
    max-width: 200px!important;
  }

  mat-sidenav:hover mat-list a span {
    display: flex;
  }
}

@media (max-width: 600px) {
  mat-sidenav{
    max-width: 70%!important;
  }
}

.user-profile-item {
  min-height: 70px;
}
