<div class="transaction-list-main" fxLayout="column">
  <div class="transaction-list-main-head" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" class="transaction-list-main-head-actions">
      <button mat-raised-button
              (click)="openNewTransactionDialog()">
        <mat-icon>swap_horiz</mat-icon>
        <span fxHide.xs>Transfer</span>
      </button>

      <button mat-raised-button>
        <mat-icon>arrow_downward</mat-icon>

        <span fxHide.xs>Replenish</span>
      </button>

      <button mat-raised-button>
        <mat-icon>arrow_upward</mat-icon>
        <span fxHide.xs>Withdraw</span>

      </button>
    </div>
  </div>
  <mat-list class="transaction-list" role="list">
    <transactions-list-item *ngFor="let t of transactions"
                            (openTransferDialog)="openNewTransactionDialog($event)"
                            [canRepeat]="canRepeat(t)"
                            [transactionTypeName]="getTransactionTypeName(t)"
                            [transaction]="t">
    </transactions-list-item>
  </mat-list>
</div>



